@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "swiper/css/bundle";

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* 不顯示滾動條 */
*::-webkit-scrollbar {
	display: none !important;
}
